body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(180deg,
      #1b1464,
      #3c1361,
      #ff0080);
  color: white;
}

.app {
  min-height: 100vh;
  padding: 30px;
}

.logo {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 30px;
  color: #ffe600;
  text-shadow: 4px 4px #ff0080;
}

.auth-card,
.event-form,
.event-card {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}

.auth-card {
  width: 400px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input,
select {
  padding: 12px;
  border-radius: 10px;
  border: none;
}

button {
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  background: #ffe600;
  color: black;
}

.event-grid {
  display: grid;
  grid-template-columns:
    repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card-buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.delete-btn {
  background: #ff4d4d;
  color: white;
}

.loading {
  text-align: center;
  margin-top: 200px;
}